.title_info
  display: flex
  gap: 25px

  .poster
    width: 100%
    height: auto

  .left
    width: 20%
    display: flex
    flex-direction: column
    gap: 10px

  .right
    width: 80%

    .title_controls
      margin-top: 15px

      button
        width: max-content

    .info_list
      display: flex
      flex-direction: column
      margin-top: 30px
      gap: 15px

      &_item
        display: flex
        max-width: 100%

        .title
          width: 30%
          font-weight: 600
          color: var(--caption-color)

        .value
          width: 70%
          color: var(--text-color)

          a
            color: var(--link-color)

        span
          font-size: 1.15rem

    .description
      margin-top: 30px

      & p
        color: var(--text-color)
        line-height: 170%

.title
  font-size: 2.5rem

.caption
  margin-top: 10px
  font-size: 1.25rem

.player
  margin-top: 40px

  &_list
    margin-top: 10px
    width: max-content
    display: flex
    align-items: center

    .button
      font-weight: 600
      width: max-content
      border: none
      background: var(--btn-primary-bg)
      color: var(--text-color)
      padding: 10px 15px

      &:hover
        cursor: pointer
        background: var(--btn-primary-hover-bg)

  &_anibam
    width: 100%

.franchise
  margin-top: 20px
