.select
  min-width: 100%
  position: relative
  align-items: center
  justify-content: center
  border-radius: 5px
  max-width: max-content

  .selectedOption
    font-family: inherit
    border: 1px solid var(--border-color)
    transition: .2s

  .options
    position: absolute
    top: 90%
    width: 100%
    list-style: none
    will-change: tranform
    color: var(--bg-alternate)
    background: var(--bg)
    padding: 5px
    border: 1px solid var(--border-color)
    border-radius: 5px
    visibility: hidden
    opacity: 0
    transition: .2s

    &.active
      top: 110%
      visibility: visible
      opacity: 1

.selectedOption, .option
  font-family: inherit
  font-weight: 600
  font-size: 16px
  display: inline-flex
  align-items: center
  justify-content: space-between
  width: 100%
  background: var(--bg)
  color: var(--bg-alternate)
  padding: 10px 15px
  border-radius: 5px
  border: unset

  &:disabled
    color: var(--disabled-color)

  &:hover
    cursor: pointer
    background: var(--btn-hover-bg)
    color: var(--bg-alternate)
