.list
  display: flex
  flex-wrap: wrap
  gap: 10px

.pagination
  margin-top: 15px
  display: flex
  align-items: center
  justify-content: center
  gap: 5px

  button
    width: max-content !important

  .activePage
    background: var(--bg-alternate)
    color: var(--bg)
