*,
*::before,
*::after
  box-sizing: border-box
  margin: 0
  padding: 0

body
  background: var(--bg)
  transition: .2s background

a
  text-decoration: none
  color: #ccc

  &:hover
    text-decoration: underline

h1,
h2,
h3,
h4,
h5,
h6
  color: var(--title-color)

p
  color: var(--text-color)

.app
  min-height: 100vh
  display: flex
  flex-direction: column
  gap: 25px

.container
  max-width: 1280px
  margin: 0 auto
  padding: 10px

.caption
  color: var(--caption-color)

.main_title
  font-size: 1.5rem
.title
  font-size: 1.25rem

*::-webkit-scrollbar
  width: 7px
  max-height: 8px

*::-webkit-scrollbar-track

*::-webkit-scrollbar-thumb
  background-color: var(--scrollbar-thumb-color)
  border-radius: 10px

  &:hover
    cursor: pointer
