.input
  width: 100%
  position: relative
  outline: none
  border: 1px solid var(--border-color)
  background: var(--input-bg)
  transition: .2s
  padding: 10px
  border-radius: 5px
  color: var(--input-color)

  &::placeholder
    color: var(--input-placeholder)

// @media (prefers-color-scheme: dark)
//   .input
//     background: #111
//     color: #fff

//     &::placeholder
//       color: #acacac
