.button
  display: inline-flex
  align-items: center
  gap: 10px
  border: unset
  background: unset
  color: var(--btn-text-color)
  font-weight: 600
  font-size: 1rem
  font-family: inherit
  padding: 10px 15px
  border-radius: 5px
  transition: .2s background
  justify-content: center
  align-items: center
  outline: none

  &:disabled
    color: var(--disabled-color)

    &:hover
      cursor: not-allowed

  &.primary
    background: var(--btn-primary-bg)
    color: var(--btn-text-color)

    &:hover
      background: var(--btn-primary-hover-bg)

    &:disabled
      color: var(--disabled-color)
      &:hover
        background: var(--btn-primary-hover-bg)

  &.contained
    width: 100%

  &:hover
    cursor: pointer
    background: var(--btn-hover-bg)
