.navbar
  min-height: 60px
  padding: 0 10px

  border-bottom: 1px solid var(--border-color)
  background: var(--header-bg)
  transition: .2s

  nav
    position: relative
    max-width: 1280px
    margin: 0 auto
    display: flex

    .nav_left
      left: 10px

      display: flex
      align-items: center
      gap: 5px

    .hamburger
      display: none

    .nav_links
      list-style: none
      display: flex
      align-items: center
      gap: 10px

      li
        .logo
          display: none

      button .icon
          display: none

    .nav_right
      right: 10px
      display: flex
      margin-left: auto
      align-items: center
      gap: 5px

.account_icon
  display: none !important

.avatar
  width: 50px
  height: 50px
  border-radius: 50%

.role
  font-size: 12px
  font-weight: 400
  color: #aaaaaa

.bottom_bar
  position: fixed
  width: 100vw
  bottom: 0
  display: none
  grid-template-columns: repeat(3,1fr)
  background: var(--header-bg)
  border-top: 1px solid var(--border-color)
  transform: translateY(100%)
  transition: .2s
  z-index: 99

  &.active
    transform: translateY(0)

  .button
    display: flex
    align-items: center
    flex-direction: column
    gap: 5px
    font-weight: 700
    font-size: 14px
    border: none
    outline: none
    background: none
    padding: 5px
    color: var(--desc-color)

    &:hover
      background: var(--btn-primary-bg)

@media screen and (max-width: 570px)
  .nav_links
    display: none !important

  .account_full
    display: none !important

  .account_icon
    display: inline-flex !important

  .bottom_bar
    display: grid
